# Build artifacts
target/
build/
*.log
*.jar
.DS_Store

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Local config
application.properties

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Exclude generated build dirs in source
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/
