<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.scannect.mapper.OCRScanMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ocr_scan (
        user_id, img, extracted_text, processed_data, status, created_at
        ) VALUES (
        #{userId}, #{img}, #{extractedText}, #{processedData}, #{status}, NOW()
        )
    </insert>

    <select id="findById" resultType="com.example.scannect.dto.OCRScanDTO">
        SELECT * FROM ocr_scan WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE ocr_scan
        SET extracted_text = #{extractedText},
        processed_data = #{processedData},
        status = #{status}
        WHERE id = #{id}
    </update>

</mapper>
