<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.scannect.mapper.UrlMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO url (
        card_id, url, created_at, updated_at
        ) VALUES (
        #{cardId}, #{url}, NOW(), NOW()
        )
    </insert>


    <insert id="insertAll" parameterType="list">
        INSERT INTO url (card_id, url, created_at, updated_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.cardId}, #{item.url}, NOW(), NOW())
        </foreach>
    </insert>


    <select id="findByCardId" resultType="com.example.scannect.dto.UrlDTO">
        SELECT * FROM url WHERE card_id = #{cardId}
    </select>

    <delete id="deleteById">
        DELETE FROM url WHERE id = #{id}
    </delete>

    <delete id="deleteByCardId">
        DELETE FROM url WHERE card_id = #{cardId}
    </delete>


</mapper>
